body,button,dd,dl,dt,form,h1,h2,h3,h4,h5,h6,hr,input,li,ol,p,pre,td,textarea,th,div {
	margin:0;padding:0
}

.header {
	height: auto;
	text-align: right;
	height: 43px;
}

	.header div {
		display: inline-block;
	}

		.header div a {
			float: left;
			color: #333;
			line-height: 24px;
			margin: 0px 10px;
			font-size: 13px;
			text-decoration: underline;
			padding-top: 19px;
		}

		.header div .nav {
			font-weight: 700;
		}

		.header div .nav:hover {
			color: #0000CC;
		}

		.header div .login:hover, .header div .setting:hover {
			color: #0000CC;
		}

		.header div .more_btn {
			background-color: #3388FF;
			margin-right: 13px;
			width: 60px;
			text-align: center;
			color: white;
			text-decoration: none;
			padding-top: 0px;
			margin: 19px 13px 0px 12px; 
		}

.content {
	text-align: center;
	overflow: hidden;
}

	.content .left {
		width: 140px;
		height: 500px;
		float: left;
		font-size: 12px;
		overflow: hidden;
	}


	.content .center {
		display: inline-block;
		width: 70%;
		height: 395px;
		overflow: hidden;
		margin-top: 20px;
	}

		.content .center .seach  {
			margin: 20px auto;
			width: 640px;
		}

		.content .center .seach .text {
			display: inline-block;
			height: 34px;
			vertical-align: top;
			border: #b8b8b8 solid 1px;
		}

			.content .center .seach .text>input {
				display: inline-block;
				vertical-align: top;
				border: none;
				padding-left: 10px;
				outline: none;
				width: 490px;
				height: 34px;
			}

		.content .center .seach span {
			display: inline-block;
			width: 36px;
			height: 16px;
			margin-top: 9px;
			background: url('images/camera_new_5606e8f.png') no-repeat 9px 0px;
		}

		.content .center .seach span:hover {
			background: url('images/camera_new_5606e8f.png') no-repeat 9px -20px;
		}

		.content .center .seach>input {
			width: 100px;
			height: 36px;
			color: #fff;
			border: none;
			background-color: #3385ff;
			border: #3385ff solid 1px;
			font-size: 15px;
		}

		.content .center .seach>input:hover {
			width: 100px;
			height: 36px;
			color: #fff;
			border: none;
			background-color: #317ef3;
			border: #3385ff solid 1px;
		}
		/* 3075dc */

	.content .right {
		width: 140px;
		/* height: 550px; */
		min-height: 550px;
		float: right;
		font-size: 12px;
		overflow: hidden;
	}

		.content .right .set_page {
			display: none;
			width: 65px;
			border: #D1D1D1 solid 1px;
		}
		
			.content .right .set_page a {
				display: block;
				height: 26px;
				line-height: 26px;
				text-align: center;
				color: #666;
				text-decoration: none;
			}

			.content .right .set_page a:hover {
				background-color: #3388FF;
				color: white;
			}

		.content .right .more_page {
			display: none;
			width: 84px;
			/* height: auto; */
			float: right;
			background-color: #F9F9F9;
			border-left: #E7E7E7 solid 1px;
		}

			.content .right .more_page a {
				display: block;
				margin: 0 auto;
				width: 66px;
				height: 76px;
				color: #666;
				border-top: #F0F0F0 solid 1px;
				text-align: center;
				text-decoration: none;
			}
		
			.content .right .more_page a:hover {
				text-decoration: underline;
			}

			.content .right .more_page a:first-of-type {
				margin-top: 20px;
			}
			
			.content .right .more_page a:last-of-type {
				margin-top: 20px;
				text-decoration: underline;
			}

				.content .right .more_page a span {
					display: block;
					margin: 10px auto 5px auto;
					width: 36px;
					height: 36px;
					background-color: #fff;
				}

				.content .right .more_page a .nm {
					background: url('images/bdbri_icons_0a62ce1.png') no-repeat 0 0;
				}

				.content .right .more_page a .yy {
					width: 40px;
					background: url('images/bdbri_icons_0a62ce1.png') no-repeat -72px 0;
				}

				.content .right .more_page a .tp {
					width: 34px;
					background: url('images/bdbri_icons_0a62ce1.png') no-repeat -112px 0;
				}

				.content .right .more_page a .zd {
					background: url('images/bdbri_icons_0a62ce1.png') no-repeat -36px 0;
				}

				.content .right .more_page a .wk {
					background: url('images/bdbri_icons_0a62ce1.png') no-repeat -147px 0;
				}

				.content .right .more_page a .fyb {
					background: url('images/bdbri_icons_0a62ce1.png') no-repeat -184px 0;
				}

	.content .footer {
		color: #666;
	    font-size: 12px;
	}

		.content .footer img {
			display: block;
			margin: 0 auto;
		}

		.content .footer span {
			display: block;
		    font-weight: 700;
		    margin-top: 5px;
		}

		.content .footer p:first-of-type {
		    margin-top: 20px;
		}

			.content .footer p:first-of-type a {
				margin-left: 25px; 
				color: #999;
			}

			.content .footer p:first-of-type a:first-of-type {
				margin-left: 0px; 
			}

		.content .footer p:last-of-type {
			color: #999;
			height: 30px;
		}
			
			.content .footer p:last-of-type a {
				color: #999;
				height: 30px;
				line-height: 30px;
			}

			.content .footer p:last-of-type a:last-of-type {
				margin-left: 19px;
			}

			.content .footer p:last-of-type span:first-of-type {
				display: inline-block;
				width: 14px;
				height: 17px;
				background: url('images/icons_5859e57.png') no-repeat -600px -96px;
				vertical-align: top;
			}

			.content .footer p:last-of-type span:last-of-type {
				display: inline-block;
				width: 14px;
				height: 17px;
				background: url('images/icons_5859e57.png') no-repeat -623px -96px;
				vertical-align: top;
			}